@import "node_modules/ol/ol.css";

/*html, body {
  margin: 0;
  height: 100%;
  background-color:rgb(196, 238, 224);
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  border: 1px solid;
  height:600px;
  margin-top: 50px; 
  margin-left: 50px;
}*/


